body{font-family: 'Share Tech Mono', monospace;}
.b0{border-radius: 0;}
.map{widows: 100%; height: 60vh;}
.full-width{width: 100%;}
.scroll{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.flag{width: 32px; height: 20px;}
.country-header{display: inline-block;}
.map-container{
    width   : 100vw;
    height  : 80vh;
}

.suggestion{
    text-align: right;
    padding: 2px;
}

.mid-level{
    margin-top: 33.3333vh;
}

.map{
    width: 48vw;
    height: 80vh;
}

.suggestion:hover{
    cursor: pointer;
}

#suggestion:hover{
    cursor: pointer;
}

#instructions {
    position: absolute;
    overflow-y: scroll;
    height: 60vh;
    padding-right: 13px;
  }

.details{
    font-size: small;
}